<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% load static %}
    <link rel="stylesheet" href="{% static 'rest_tv_app/styles.css' %}">
    <script src="{% static '' %}"></script>

    <title>Restful TV's</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</head>

<body style="height:1000px;background-color:lightcoral">
    <div class="col-lg-12 col-md-12">

        <section class="jumbotron text-center m-5 " style="height:100%;vertical-align:middle;background-color:whitesmoke">


            <form action='/shows/{{show.id}}/updating' method='POST'>
            {%csrf_token%}

            <div class="container hoverable z-depth-4 rounded">
                <a style="margin-left:80%;margin-bottom:;" href="/shows">Go back</a>

                <h1 class="jumbotron-heading">Update the Show</h1>

                {% if messages %}
                <ul class="messages" style="list-style:none">    
                    {% for message in messages %}    
                        <li {% if message.tags %} class="{{ message.tags }} m-2"{% endif %}>{{ message }}</li>    
                    {% endfor %}
                </ul>
                {% endif %}


                <div class="row">
                    <div class="col-md-12  col-lg-12 mb-3 form-group">
                        <label>Title</label>
                        <input type="text" class="form-control" name="title" placeholder="{{show.title}}">
                        <div class="invalid-feedback">
                            Valid first name is required.
                        </div>
                    </div>
                </div>

                <div class="row p-5">

                    <div class="form-group col-md-6 col-lg-6">
                        <label>Network</label>
                        <input type="text" class="form-control" name="network" placeholder="{{show.network}}">
                    </div>

                    <div class="form-group col-sm-12 col-md-6 col-lg-6">
                        <p>Current Release Date: {{show.date}}</p>
                        <input name="date" id={{show.id}} style="height:2.2rem;width:80%;margin-top:px;margin-left:px;padding-right:px;border-radius:4px" 
                        type="date" />
                    </div>

                </div>


                <div class="form-group">
                    <label >Description</label>
                    <textarea class="form-control" name="description" placeholder="{{show.description}}" id={{show.id}}></textarea>
                    <small class="form-text text-muted">Tell us about it!</small>
                </div>

                <button type="submit" class="btn btn-primary">Update</button>
                <br>
                <a href="/shows/{{show.id}}">Go to Show</a>

            </form>

        </section>

</body>